body{
    background-color: lightslategray;
}
h1{
    color: goldenrod;
    display: flex;
    justify-content: center;
}
h2{
    color: aliceblue;
}
.map-container{
    display: flex;
    justify-content: center;
    
}
.map-content{
    border-radius: 50px;
}
.info-container{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    justify-content: center;
}
input{
    border-radius: 50px;
    width: 70%;
    height: 50px;
    text-align: center;
    font-size: 30px;
}